.create-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 100;
  width: 36rem;
  height: 20rem;
  background: rgba(44, 44, 44, 0.8);
  position: absolute;
  bottom: -18.2rem;
  padding: 0rem 2rem 1rem 2rem;
}
.create-wrapper:hover {
  bottom: 0rem;
  transition: bottom 0.3s;
}


.new-place input::placeholder {
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
}
.new-place textarea::placeholder  {
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
}

.new-place input,
.new-place textarea {
  overflow: auto;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  border-radius: 1px; /* Update the border-radius value to create rounded corners */
  font-size: 1rem;
  font-weight: 200;
  color: white;
  margin: 0.2rem 0rem 0.2rem 0rem;
  background-color: rgba(255, 235, 205, 0.2);
}
.new-place textarea::-webkit-scrollbar{
  display: none;
}


.new-place input:focus {
  outline: none;
  background-color: rgb(255, 235, 205, 0.5);
}
.new-place textarea:focus {
  outline: none;
  background-color: rgb(255, 235, 205, 0.5);
}
.new-place input:not(:focus):hover {
  cursor: text;
  background-color: rgba(255, 235, 205, 0.3);
}
.new-place textarea:not(:focus):hover {
  cursor: text;
  background-color: rgba(255, 235, 205, 0.3);
}


.form-top-wrapper {
  margin: 1rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.location-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0rem 0rem 0.6rem 0rem;
}
.location-wrapper p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 0.7rem;
  color: var(--main-bg-color);
  margin-left: 1rem;
}
.location-wrapper .location-data {
  color: white;
  font-size: 1rem;
  margin-bottom: 0.3
}


.create-wrapper h3 {
  margin: 0.6rem 0rem 0.5rem 0rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  font-size: 2rem;
  font-weight: 200;
  cursor: pointer;
}
.create-wrapper h3:hover {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: var(--main-bg-color);
}
.new-place button {
  width: 100%;
  padding: 0.5rem 0.5rem;
  background: var(--main-bg-color);
  border: none;
  border-radius: 1px;
  color: white;
  margin: 0.5rem 0rem 0.5rem 0rem;
  opacity: 0.85;
}
.new-place button:hover {
  cursor: pointer;
  opacity: 1;
}


.marker-selection-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0.3rem;
}
.marker-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;;
  margin: 0rem 0rem 0.5rem 0rem;
}
.marker-selection button {
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;
}
.marker-selection li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0.3rem 0rem 0.3rem;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
}
.marker-selection li:hover {
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.1);

}
.marker-selection li:focus-within {
  transition: 0.3s;
  background-color: rgba(255, 235, 205, 0.2);
}