
.map-container {
  margin-top: 10rem;
  position: relative;
  background: rgba(238, 130, 53,1);
  border: none;

}
.map-overlay {
  z-index: 10;
  height: 640px;
  width: 640px;
  position: absolute;
  border: none;
  background: rgba(238, 130, 53,1);
  background: radial-gradient(circle, rgba(238, 130, 53,0) 0%, rgba(238, 130, 53,0) 55%, rgba(238, 130, 53,.8) 62%, rgba(238, 130, 53, 1) 68%, rgba(238, 130, 53, 1) 100%);
  pointer-events: none;
}