
.leaflet-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.99;
  border: none;
  background: var(--main-bg-color);
}
.leaflet-control-fullscreen {
  top: 4.5rem;
}
.leaflet-touch .leaflet-control-fullscreen a {
  background-image: url("../../assets/markers/black-square-button_1f532.png");
  position: relative;
  background-size: 85%;
  background-position: 50%;
}
.leaflet-touch.leaflet-fullscreen-on .leaflet-control-fullscreen a {
  background-position: none;
}
.leaflet-touch.leaflet-fullscreen-on .leaflet-control-fullscreen a {
  background-position: none;
}

.leaflet-bar a:focus {
  background-color: rgba(238, 130, 53, 0.8);
}

.leaflet-bar a {
  background-color: rgba(238, 130, 53, 0.6);
  border: none;
}
.leaflet-bar a:hover {
  background-color: rgba(238, 130, 53, 0.8);
  border: none;
}
.leaflet-bar a:focus {
  background-color: rgba(238, 130, 53, 0.8);
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url("../../assets/markers/black-circle_26ab.png");
  background-size: 85%;
  background-color: rgba(238, 130, 53, 0.6);

}
.leaflet-retina .leaflet-control-layers-toggle:hover {
  background: rgba(238, 130, 53, 0.8);
  border: none;
}
.leaflet-retina .leaflet-control-layers-toggle:focus {
  background: rgba(238, 130, 53, 0.8);
}


.leaflet-control-layers-expanded {
  background: rgba(238, 130, 53, 0.8);
  color: white;
}


.leaflet-control-fullscreen-button {
  position: absolute;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 0rem;
}


.cluster-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--main-bg-color);
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.spinner {
  height: 720px;
  width: 720px;
  color: white;
  font-size: 2.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  bottom: 2rem
}